@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap);
*{
  margin: 0;
  padding: 0;
}
body{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins',sans-serif;
  min-height: 100vh;
  background: dodgerblue ;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
.form{
  width: 80%;
}
.form form{
  display: flex;
  flex-direction: column;
}
.form form .main-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left,.right{
  width: 40%;
  display: flex;
  flex-direction: column;
}
input{
  padding: 10px;
  outline: none;
  margin: 5px;
  border: 2px solid #fff;
  background-color: #ffffff00;
  transition: 0.5s;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
textarea{
  outline: none;
  color: #fff;
  font-family: 'Poppins',sans-serif;
  padding: 10px;
  margin: 5px;
  border: 2px solid #fff;
  background-color: #ffffff00;
  transition: 0.5s;
  border-radius: 4px;
  margin-top: 10px;
}
textarea:hover, textarea:active,input:hover,input:active{
  outline: none;
  border: 2px dashed #fff;
}
.right span,.left span{
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}
.form h2{
  align-self: center;
  font-size: 42px;
}
input[type = 'radio' ]{
  transform: scale(1.5);
}
input[type = 'checkbox' ]{
  transform: scale(1.5);
}
select{
  color: #fff;
  outline: none;
  border: none;
  border: 2px solid #fff;
  padding: 4px;
  background: #00000000;
  border-radius: 4px;
}
select option{
  color: #fff;
  background: #0080ff;
  border-radius: 4px;
}
select option:hover{
  color: #fff;
  background-color: aqua;
}
.btns{
  align-self: center;
  display: flex;
  flex-direction: column;
}

.btns button{
  color: #fff;
  background: #0080ff;
  outline: none;
  border: 2px solid #fff;
  padding: 5px;
  margin: 5px;
}
label, .gender span{
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px){

  .main-form{
    flex-direction: column !important;
  }
  .left, .right{
    width: 100%;
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
